<div class="row">
    <h1 class="card-title m-1 pl-2 pull-left text-muted text-primary">Resource Demand</h1>
</div>
<!-- Minimal statistics with bg color section start -->
<section id="minimal-statistics-bg">
  <div class="row text-left" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-primary">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-pencil white font-large-2 float-left"></i>
              </div>
              <div class="media-body white text-right">
                <h3>
                  <div *ngIf="resources?.length" counto [step]="1" [countTo]="10000" [countFrom]="0" [duration]="1" (countoChange)="counto = $event">{{resourceCount}}</div>
                </h3>
                <span>New Posts</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-danger">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-speech white font-large-2 float-left"></i>
              </div>
              <div class="media-body white text-right">
                <h3>156</h3>
                <span>New Comments</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-success">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-graph white font-large-2 float-left"></i>
              </div>
              <div class="media-body white text-right">
                <h3>64.89 %</h3>
                <span>Bounce Rate</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-warning">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-pointer white font-large-2 float-left"></i>
              </div>
              <div class="media-body white text-right">
                <h3>423</h3>
                <span>Total Visits</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Minimal statistics with bg color section end -->

<section id="extended">
    <div class="row text-left">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
              <h2 class="card-title text-capitalize text-monospace">Resource Pool</h2>
          </div>
          <div class="card-content p-2 m-2">
            <div class="card-body">
              <div class="row">
                  <button class="btn btn-md btn-outline-danger m-2 " (click)="newResource()">+ Add new</button>
                  <hr class="bg-dark">
              </div>
              <!-- <div class="row m-2">
                  <input type="text" [(ngModel)]="search" (ngModelChange)="filter($event)" class="form-control round" placeholder="search this page">
              </div> -->
              <div class="row m-2 bg-light">
                <div class="col-4 d-inline-flex align-items-center">
                  <div class="form-group float-left">
                    <label class="align-items-center" style="top: 50%">
                      <span>Show </span>

                      <select class="form-control-sm m-2" [(ngModel)]="pagelenght">
                        <option value="{{resources?.length}}">All</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      <span> entries</span>
                    </label>
                  </div>
                </div>
                <div class="col-4 float-right">
                  <button class="btn btn-sm btn-outline-secondary m-2 ">CSV</button>
                  <button class="btn btn-sm btn-outline-secondary m-2 ">Print</button>
                  <span class=" bg-light text-muted m-2 ">show report in :</span>
                  <button class="btn btn-sm btn-outline-secondary m-2 " (click)="changeShowin('days')">Days</button>
                  <button class="btn btn-sm btn-outline-secondary m-2 " (click)="changeShowin('hours')">Hours</button>
                  <button class="btn btn-sm btn-outline-secondary m-2 " (click)="changeShowin('FTE')">FTE</button>

                </div>
                <div class="col-4 float-right">
                    <input type="text" [(ngModel)]="search" (ngModelChange)="filter($event)" class="form-control m-2 round" placeholder="..type a name to search the list below">
                </div>
              </div>
                <div classs ="m-2 p-2">
                    <div classs ="row">
                        <div class="col-12">
                            <table  [mfData]="resources$ | async" #mf="mfDataTable" [mfRowsOnPage]="pagelenght" class="table table-hover dflex table-responsive-md align-middle text-center dataTable ">
                  <thead>
                    <tr style="vertical-align: middle">
                        <th style="width:4%; vertical-align: middle" class="col"><mfDefaultSorter by="displayName">Resource</mfDefaultSorter></th>
                        <th style="width:7.7%; vertical-align: middle" class="col"><mfDefaultSorter by="employeeJobTitle">Job Title</mfDefaultSorter></th>
                        <th style="width:7.7%; vertical-align: middle" class="col"><mfDefaultSorter by="employeeType">Employment</mfDefaultSorter></th>
                        <th style="width: 3%; vertical-align: middle" class="col"><mfDefaultSorter by="resourceutilizationSummaries">Demand<small class="text-muted"><br> (current period)<br>(<i style="color: blue;">{{showin}}</i>)</small></mfDefaultSorter></th>
                        <th style="width: 3%; vertical-align: middle" class="col"><mfDefaultSorter by="resourceutilizationSummaries">Availability<small class="text-muted"><br> (current period)<br>(<i style="color: blue;">{{showin}}</i>)</small></mfDefaultSorter></th>
                        <th style="width: 3%; vertical-align: middle" class="col"><mfDefaultSorter by="resourceutilizationSummaries">Absences<small class="text-muted"><br> (current period)<br>(<i style="color: blue;">{{showin}}</i>)</small></mfDefaultSorter></th>
                        <!-- <th style="width: 3%; vertical-align: middle" class="col"><mfDefaultSorter by="resourceutilizationSummaries">Holidays<br> & Absences<small class="text-muted"><br> (current period)</small></mfDefaultSorter></th> -->
                        <th style="width: 3%; vertical-align: middle" class="col"><mfDefaultSorter by="resourceutilizationSummaries">Utilization<small class="text-muted"><br> (current period)<br>(<i style="color: blue;">{{showin}}</i>)</small></mfDefaultSorter></th>
                        <th style="width:7.7%; vertical-align: middle" class="col"><mfDefaultSorter by="location">Location</mfDefaultSorter></th>
                        <th style="width:4%; vertical-align: middle" class="col"><mfDefaultSorter by="resourceManager.displayName">Manager</mfDefaultSorter></th>
                        <th style="width:7.7%; vertical-align: middle" class="col"><mfDefaultSorter >Actions</mfDefaultSorter></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  style="vertical-align: middle" *ngFor="let res of mf.data">
                      <td style="vertical-align: middle">
                        <div class="media">
                          <a *ngIf="resources?.length>0 && res?.firstName" class="m-0">
                            <img *ngIf="res?.imageUrl" alt="96x96" class="media-object d-flex  bg-primary height-50 rounded-circle" [src]="res?.imageUrl">
                            <span *ngIf="!res?.imageUrl" style="height: 50px;" class="media-object d-flex  rounded-circle roundprofile + ' ' + bg-info ">
                              {{ res?.firstName | fl }}</span>
                          </a>
                          <div class="media-body float-left ml-0">
                            <a (click)="gotoResource(res)">
                            <h5 class="font-medium-1 text-primary mt-1 mb-0">{{res?.displayName}}</h5>
                            <p class="text-muted font-small-3">{{res?.resourceEmailAddress}}</p>
                            </a>
                          </div>
                        </div>
                      </td>
                      <td style="vertical-align: middle">{{res?.employeeJobTitle}}</td>
                      <td style="vertical-align: middle; opacity: 0.7;">
                        <span [ngClass]="empBadge(res?.employeeType)" class="badge m-0">{{res?.employeeType}}</span>
                      </td>
                      <td style="vertical-align: middle"><span *ngIf="res?.resourceutilizationSummaries"></span>{{calculateCurrentPeriodDemand(res) | showin: showin | number : '1.2-2'}}</td>
                      <td style="vertical-align: middle"><span class="float-left">{{calculateCurrentPeriodFTE(res) | showin: showin | number : '1.2-2'}}</span><span class="float-right text-muted text-monospace">{{ percentageAvailable(currentmonthdays,calculateCurrentPeriodFTE(res)) | showin: showin | number : '1.0-0'}}%</span></td>
                      <td style="vertical-align: middle">{{calculateCurrentPeriodAbsence(res) | showin: showin | number : '1.2-2'}}</td>
                      <td style="vertical-align: middle"><span class="float-left" [ngClass]="overUnderUtilization(calculateCurrentPeriodUtilization(res))">{{calculateCurrentPeriodUtilization(res) | showin: showin | number : '1.2-2'}}</span><span class="float-right text-muted text-monospace p-1 badge badge-pill" [ngClass]="overUnderUtilizationPercent(percentageUtilization(calculateCurrentPeriodUtilization(res),calculateCurrentPeriodFTE(res)))">{{percentageUtilization(calculateCurrentPeriodUtilization(res),calculateCurrentPeriodFTE(res)) | number : '1.0-0'}}%</span></td>
                      <td style="vertical-align: middle">{{res?.location}}</td>
                      <td style="vertical-align: middle">
                        <div class="media">
                          <a *ngIf="resources?.length>0" class="m-0 mr--1">
                            <img *ngIf="res?.resourceManager?.imageUrl" alt="96x96" class="media-object d-flex  bg-primary height-50 rounded-circle" [src]="res?.resourceManager?.imageUrl">
                            <span *ngIf="!res?.resourceManager?.imageUrl && res?.resourceManager?.firstName" style="height: 50px;" class="media-object d-flex  rounded-circle roundprofile + ' ' + bg-info ">
                              {{ res?.resourceManager?.firstName | fl }}</span>
                          </a>
                          <div class="media-body float-left ml-0">
                            <a (click)="gotoResource(res)">
                            <h6 class="font-medium-1 text-primary mt-1 mb-0">{{res?.resourceManager?.displayName}}</h6>
                            <p class="text-muted font-small-3">{{res?.resourceManager?.resourceEmailAddress}}</p>

                            </a>
                          </div>
                        </div>
                      </td>
                      <td style="vertical-align: middle">
                        <a class="success p-0" data-original-title="" title="" (click)="editResource(res)">
                          <i class="ft-edit-2 font-medium-3 mr-2"></i>
                        </a>
                        <a class="danger p-0" data-original-title="" title="" (click)="deleteResource(res)">
                          <i class="ft-x font-medium-3 mr-2"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="13">
                              <mfBootstrapPaginator></mfBootstrapPaginator>
                          </td>
                      </tr>
                      </tfoot>
                </table>
                        </div>
                    </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


