<div class="row">
    <h1 class="card-title m-1 pl-2 pull-left text-muted text-primary">Resource Utilization</h1>
</div>

<section id="minimal-statistics-bg">
  <div class="row text-left" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-warning">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>278</h3>
                <span>New Projects</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-rocket white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-success">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>156</h3>
                <span>New Clients</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-user white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-danger">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>64.89 %</h3>
                <span>Conversion Rate</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-pie-chart white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-primary">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>423</h3>
                <span>Support Tickets</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-support white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="extended">
    <div class="row text-left">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
              <h2 class="card-title text-capitalize text-monospace">Yearly Utilization</h2>
          </div>
          <div class="card-content p-2 m-2">
            <div class="card-body">
                <div classs ="m-2 p-2">
                    <div classs ="row">
                        <div class="col-12">
                            <ngb-tabset  type="pills">
                                <hr>
                                <ngb-tab>
                                  <ng-template ngbTabTitle><b>{{year1}} </b><span class="text-danger">- Current year</span></ng-template>
                                  <ng-template ngbTabContent>
                                    <hr>
                                      <app-resources-utilization-table></app-resources-utilization-table>
                                  </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle><b>{{year2}}</b></ng-template>
                                  <ng-template ngbTabContent>
                                    <hr>
                                    <app-resources-utilization-table></app-resources-utilization-table>
                                  </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle><b>{{year3}}</b></ng-template>
                                  <ng-template ngbTabContent>
                                    <hr>
                                    <app-resources-utilization-table></app-resources-utilization-table>
                                  </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle><b>{{year4}}</b></ng-template>
                                  <ng-template ngbTabContent>
                                    <hr>
                                    <app-resources-utilization-table></app-resources-utilization-table>
                                  </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle><b>{{year5}}</b></ng-template>
                                    <ng-template ngbTabContent>
                                      <hr>
                                      <app-resources-utilization-table></app-resources-utilization-table>
                                    </ng-template>
                                  </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle><b>{{year6}}</b></ng-template>
                                  <ng-template ngbTabContent>
                                    <hr>
                                    <app-resources-utilization-table></app-resources-utilization-table>
                                  </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle><b>{{year7}}</b></ng-template>
                                  <ng-template ngbTabContent>
                                    <hr>
                                    <app-resources-utilization-table></app-resources-utilization-table>
                                  </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle><b>{{year8}}</b></ng-template>
                                  <ng-template ngbTabContent>
                                    <hr>
                                    <app-resources-utilization-table></app-resources-utilization-table>
                                  </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle><b>{{year9}}</b></ng-template>
                                  <ng-template ngbTabContent>
                                    <hr>
                                    <app-resources-utilization-table></app-resources-utilization-table>
                                  </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle><b>{{year10}}</b></ng-template>
                                  <ng-template ngbTabContent>
                                    <hr>
                                    <app-resources-utilization-table></app-resources-utilization-table>
                                  </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
