<div class="row">
    <h1 class="card-title m-1 pl-2 pull-left text-muted text-primary">My Projects</h1>
</div>
<!-- Minimal statistics section start -->
<section id="minimal-statistics">
    <div class="row text-left" matchHeight="card">
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="px-3 py-3">
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 danger">278</h3>
                  <span>New Projects</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="icon-rocket danger font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="px-3 py-3">
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 success">156</h3>
                  <span>New Clients</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="icon-user success font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="px-3 py-3">
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 warning">64.89 %</h3>
                  <span>Conversion Rate</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="icon-pie-chart warning font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="px-3 py-3">
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 primary">423</h3>
                  <span>Support Tickets</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="icon-support primary font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-left" matchHeight="card">
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="px-3 py-3">
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 primary">278</h3>
                  <span>New Posts</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="icon-book-open primary font-large-2 float-right"></i>
                </div>
              </div>
              <div class="mt-2 mb-0">
                <ngb-progressbar type="primary" [value]="80" class="progress-bar-sm"></ngb-progressbar>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="px-3 py-3">
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 warning">156</h3>
                  <span>New Comments</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="icon-bubbles warning font-large-2 float-right"></i>
                </div>
              </div>
              <div class="mt-2 mb-0">
                <ngb-progressbar type="warning" [value]="35" class="progress-bar-sm"></ngb-progressbar>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="px-3 py-3">
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 success">64.89 %</h3>
                  <span>Bounce Rate</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="icon-cup success font-large-2 float-right"></i>
                </div>
              </div>
              <div class="mt-2 mb-0">
                <ngb-progressbar type="success" [value]="60" class="progress-bar-sm"></ngb-progressbar>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="px-3 py-3">
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 danger">423</h3>
                  <span>Total Visits</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="icon-direction danger font-large-2 float-right"></i>
                </div>
              </div>
              <div class="mt-2 mb-0">
                <ngb-progressbar type="danger" [value]="40" class="progress-bar-sm"></ngb-progressbar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Minimal statistics section end -->

  <section id="extended">
    <div class="row text-left">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title text-capitalize text-monospace">Inventory</h2>
          </div>
          <div class="card-content p-2 m-2">
            <div class="card-body">
              <table  #exampleTableTools class="table table-hover table-responsive-md text-center dataTable " datatable [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger" id="exampleTableTools">
                <thead>
                  <tr>
                    <th>#</th>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <div class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input" id="item1">
                        <label class="custom-control-label col-form-label" for="item1"></label>
                      </div>
                    </td>
                    <td>John</td>
                    <td>Carter</td>
                    <td>Male</td>
                    <td>johncarter@mail.com</td>
                    <td>
                      <a class="info p-0" data-original-title="" title="">
                        <i class="ft-user font-medium-3 mr-2"></i>
                      </a>
                      <a class="success p-0" data-original-title="" title="">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>
                      <a class="danger p-0" data-original-title="" title="">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      <div class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input" id="item2">
                        <label class="custom-control-label col-form-label" for="item2"></label>
                      </div>
                    </td>
                    <td>Peter</td>
                    <td>Parker</td>
                    <td>Male</td>
                    <td>peterparker@mail.com</td>
                    <td>
                      <a class="info p-0" data-original-title="" title="">
                        <i class="ft-user font-medium-3 mr-2"></i>
                      </a>
                      <a class="success p-0" data-original-title="" title="">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>
                      <a class="danger p-0" data-original-title="" title="">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      <div class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input" id="item3">
                        <label class="custom-control-label col-form-label" for="item3"></label>
                      </div>
                    </td>
                    <td>John</td>
                    <td>Rambo</td>
                    <td>Male</td>
                    <td>johnrambo@mail.com</td>
                    <td>
                      <a class="info p-0" data-original-title="" title="">
                        <i class="ft-user font-medium-3 mr-2"></i>
                      </a>
                      <a class="success p-0" data-original-title="" title="">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>
                      <a class="danger p-0" data-original-title="" title="">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
