<!-- <div class="email-app-content-area w-100 container-fluid">
    <div class="email-app-mail-content">
      <div class="email-app-mail-content-detail">
        <div class="email-app-options card-body">
          <div class="row d-md-none">
            <button class="btn btn-raised btn-primary ml-2 back-to-inbox">
              <i class="fa fa-angle-left"></i> Back to inbox</button>
          </div>

        </div>

        <div class="email-app-title card-body">
          <div class="row">
            <div class="col-sm-6 col-12 text-left">

            </div>
            <div class="col-sm-6 col-12 text-right">

            </div>
          </div>
        </div>


      </div>
    </div>
  </div> -->

<div class="container-fluid">
  <app-dashboard2></app-dashboard2>
</div>

